html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #f4f4f9;
    overflow-x: hidden;
}

.header h1 {
    margin: 0;
    padding: 5px;
    width: 100%;
    background-color: #1e4734;
    color: white;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

.sub-header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #df7515;
}

.sub-header p {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    color: white;
}

.spaced-dash {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

.quiz-form {
    width: 100vw;
    max-width: 60%;
    margin: 20px auto;
    background-color: white;
    padding: 1px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.question-text p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.answer-container {
    display: flex;
    flex-direction: column;
}

.answer-choice {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.answer-choice:hover {
    background-color: #f4f4f9;
    border-color: #df7515;
}

.answer-choice:hover input[type='radio'] {
    accent-color: #df7515;
}

.answer-choice input[type="radio"] {
    margin-right: 10px;
}

.answer-choice input[type='radio']:checked {
    accent-color: #df7515;
}

.answer-choice label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.submit-container {
    margin: 20px;
    text-align: center;
}

.submit-container input[type="submit"] {
    width: 25%;
    padding: 10px;
    background-color: #24563f;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.submit-container input[type="submit"]:hover {
    background-color: #1e4734;
}
