<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attendance Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminPortal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/AttendanceReport.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Footer.css}">
</head>
<body>
<div class="header">
    <h1>University of Texas at Dallas</h1>
    <div class="sub-header">
        <label for="home">
            <input type="button" value="Home" id="home"
                   onclick="window.location.href='/admin-portal'">
        </label>
        <label for="class_mgmt">
            <input type="button" value="Class Management" id="class_mgmt"
                   onclick="window.location.href='/admin-portal-class-management'" >
        </label>
        <label for="quiz_mgmt">
            <input type="button" value="Quiz Management" id="quiz_mgmt"
                   onclick="window.location.href='/admin-portal-quiz-management'">
        </label>
        <label for="password_mgmt">
            <input type="button" value="Password Management" id="password_mgmt"
                   onclick="window.location.href='/admin-portal-password-management'">
        </label>
        <label for="attendance_report">
            <input type="button" value="Attendance Report" id="attendance_report"
                   onclick="window.location.href='/admin-portal-attendance-report'">
        </label>
        <label for="help">
            <input type="button" value="Help" id="help"
                   onclick="window.location.href='/admin-portal-help'">
        </label>
    </div>
</div>
<div class="attendance-report-container">
    <h1>Attendance Report</h1>
    <p>TODO: Create attendance report page</p>
</div>
<div class="footer">
    KRAUTER SOFTWARE. &copy 2024-2025 ALL RIGHTS RESERVED
</div>
</body>
</html>